@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Noto+Sans:wght@300&family=Roboto+Condensed&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #29303F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4CA1AF, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4CA1AF, #2C3E50);
    W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
}
.button {
    top: 15px;
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 25px;
    box-shadow: 0 0 2.5px 0 #39a2db59;
    cursor: pointer;
    background-color: white;
}

.ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    transition: left 1.2s;
}

.ball-move {
    left: calc(100% - 20px);
}

.tema2 {
    background: #2C3E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4CA1AF, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4CA1AF, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.animar {
    /* Estilo da animação */
    animation: slideInLeft;
    /* tempo que irá levar para que ela seja executada. */
    animation-duration: 2s;
}

.posicaoModal {
    width: 0 auto;
    top: 180px;
}

.sombra-texto {
    text-shadow: 4px 4px 4px rgba(110, 110, 110, 0.72);
}

.grafico {
    display: none;
}

.letra {
    transition: .8s;
    transform: translateX(0);
    cursor: pointer;
    color: #fff;
}

.letra:hover {
    transform: translateY(-10px);
    color: rgb(224, 224, 224);
}

.sombra-texto {
    text-shadow: 4px 4px 4px rgba(110, 110, 110, 0.72);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
  